<html>
    <head>
        <title>UAIC Student Admission</title>
		<style>
			.container{ max-width: 1024px; display:block; margin: 0px auto; text-align: center; }
		</style>
    </head>
    <body>
		<div class="container">
        <div>Menu:
            {% for key in actions.keys()%}
                <a href="{{actions[key]['url']}}"> {{actions[key]['text']}}</a> &#124;
            {% endfor %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        </div>
    </body>
</html>