{% extends "base.html" %}

{% block content %}

<h2>Submit candidate</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.type != "SubmitField"%}
        <p>
            {% if field.widget.input_type != 'hidden' %} {{ field.label }} {% endif %} <br>
            {{ field(size=14) }}
            {% for error in field.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% endif %}
    {% endfor %}
    {{ form.submit.label }} <br>
    {{ form.submit }}

</form>

{% endblock %}